* {
  margin: 0;
  line-height: 1.5;
  vertical-align: bottom; }

a, label {
  color: black; 
  font-family: "Mali", sans-serif;}

a:hover {
  color: #5da6cb }

p,
li {
  font-family: "Mali", sans-serif;
  font-size: 1.2rem; 
  color: black; }

h1, h2, h3, h4 {
  font-family: "Lilita One", cursive;
  margin-bottom: 2vw; }

h1 {
  font-size: 7vw;
  width: 40vw;
  background: -webkit-linear-gradient(45deg, #8082b7, #e4a1c2, #c2e1d0, #5da6cb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

h2 {
  font-size: 6vw;
  width: 23vw;
  margin: 0 auto;
  background: -webkit-linear-gradient(45deg, #8082b7, #e4a1c2, #c2e1d0, #5da6cb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

h3 {
  font-size: 3vw; }

h4 {
  font-size: 2.5vw; }

.fab {
  font-size: 5vw; }

/*--------------------
        NAVBAR
--------------------*/
nav {
  background-color: rgb(105, 184, 223); }
  nav .container-fluid {
    font-size: 2vw; }

.navbar-dark .navbar-nav .nav-link {
  color: white; }

.navbar-dark .navbar-toggler {
  color: white;
  border-color: rgba(255, 255, 255, 0.75); }

.navbar-toggler {
  border-radius: 50%;
  aspect-ratio: 1/1; }

/*--------------------
        HEADER
--------------------*/
header {
  padding-top: 5vw;
  margin: 7vw; }

/*--------------------
        DIVIDER
--------------------*/
.divider {
  background: linear-gradient(rgba(228, 161, 194, 0.5), rgba(194, 225, 208, 0.5), rgba(93, 166, 203, 0.5), rgba(128, 130, 183, 0.5));
  width: 100%;
  aspect-ratio: 8;
  position: relative;
  margin: 0; }

.divider img:first-child {
  position: absolute;
  top: 0;
  left: 0; }

.divider img:nth-of-type(2n) {
  position: absolute;
  left: 0;
  bottom: 0; }

.top-white-line {
  width: 100%;
  height: 1vw;
  position: absolute;
  top: -7.25%;
  background-color: white; }

.bottom-white-line {
  width: 100%;
  height: 1vw;
  position: absolute;
  bottom: -1.5%;
  background-color: white; }

.footer-divider {
  position: relative;
  height: 13.25vw; }

/*--------------------
       PORTFOLIO
--------------------*/
.accordion-button {
  font-size: 2.75vw;
  color: #5da6cb; }

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #fff;
  box-shadow: none; }

.accordion-button:not(.collapsed), .accordion-button:not(.collapsed):focus {
  box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px; }

.accordion-button::after {
  width: 3vw;
  height: 3vw;
  background-size: 3vw; }

.accordion-button:not(.collapsed)::after {
  opacity: 0.75; }

.app-view-container {
  position: relative; }
  .app-view-container .monitor,
  .app-view-container .mobile-phone {
    position: relative;
    z-index: 1; }
  .app-view-container .app {
    position: absolute;
    top: 5.25%;
    left: 5%;
    width: 90%; }
  .app-view-container .mobile-phone {
    width: 51%;
    height: 51%;
    z-index: 3; }
  .app-view-container .app-video-container {
    top: 1%;
    width: 45%;
    height: auto;
    padding: 0;
    position: absolute; }
  .app-view-container .app-video {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 20px; }
  


.portfolio-fa {
  font-size: 10vw; }

.portfolio-fa:hover {
  background: -webkit-linear-gradient(45deg, #8082b7, #e4a1c2, #c2e1d0, #8082b7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.live-site-btn {
  border-radius: 30px;
  width: 15vw;
  max-width: 200px;
  padding: 8px 25px;
  background: #5da6cb;
  font-family: "Mali", sans-serif;
  color: white; }
  .live-site-btn a {
    text-decoration: none;
    vertical-align: baseline; }
  .live-site-btn a:hover {
    color: white;
  }

/*--------------------
        ABOUT
--------------------*/
.sam-sitting {
  border: 0.75vw solid #c2e1d0; }

.toolkit-card {
  background: linear-gradient(45deg, rgba(228, 161, 194, 0.5), rgba(194, 225, 208, 0.5)); }

.experience-card {
  background: linear-gradient(45deg, rgba(93, 166, 203, 0.5), rgba(228, 161, 194, 0.5), rgba(228, 161, 194, 0.5), rgba(194, 225, 208, 0.5)); 
  padding: 0 10vw 0 7vw; }

.education-card {
  background: linear-gradient(45deg, rgba(128, 130, 183, 0.5), rgba(93, 166, 203, 0.5), #5da6cb80, rgba(228, 161, 194, 0.5)); }

.fun-facts-card {
  background: linear-gradient(45deg, rgba(93, 166, 203, 0.5), rgba(228, 161, 194, 0.5), rgba(228, 161, 194, 0.5)); }

.resume-card {
  background: linear-gradient(45deg, rgba(128, 130, 183, 0.5), rgba(128, 130, 183, 0.5), rgba(93, 166, 203, 0.5), rgba(93, 166, 203, 0.5), rgba(228, 161, 194, 0.5), rgba(228, 161, 194, 0.5)); }

.toolkit-card .fab {
  font-size: 4.5vw; }

.experience-item a {
  color: black; }

.education-dates {
  font-size: 0.75rem;
  text-transform: uppercase; }

.education-item {
  list-style-position:inside;
}

/*--------------------
        CONTACT
--------------------*/

.contact-btn {
  border-radius: 30px;
  padding: 8px 25px;
  background: #5da6cb;
  font-family: "Mali", sans-serif;
  color: white; }

/*--------------------
        FOOTER
--------------------*/

footer {
  background: linear-gradient(45deg, rgba(128, 130, 183, 0.5), rgba(93, 166, 203, 0.5), rgba(228, 161, 194, 0.5), rgba(194, 225, 208, 0.5)); }

.footer-fa a:hover {
  color: #5da6cb;
}

@media (max-width: 992px) {
  .app-view-container .mobile-phone {
    width: 51.5%;
    height: 51.5%; }
  .live-site-btn {
    width: 20vw; }
}


@media (max-width: 768px) {
  p,
  .experience-item p,
  li {
    font-size: 2.25vw; }
  a {
    font-size: 2.5vw; }
  h1 {
    font-size: 12vw;
    width: 75vw; }
  h2 {
    font-size: 9vw;
    width: 45vw; }
  .accordion-button {
    font-size: 5vw; }
  h4 {
    font-size: 4vw; }
  header {
    margin-top: 15vw; }
  .card-title {
    font-size: 5vw; }
  .experience-card {
    padding: 0 2vw; }
  .fab {
    font-size: 15vw; }
  .toolkit-card .fab {
    font-size: 8vw; } }

@media (max-width: 576px) {
  header {
    margin-top: 27vw; }
  p,
  .experience-item p,
  li {
    font-size: 3vw; }
  a {
    font-size: 3vw; }
  h1 {
    font-size: 14vw;
    width: 80vw; }
  h2 {
    font-size: 12vw; }
  .accordion-button {
    font-size: 7.5vw; }
  .github-link {
    font-size: 12px;
  }
  .live-site-btn {
    width: 35vw  }
    .live-site-btn a {
      font-size: 4vw; }
  h4 {
    font-size: 6vw; }
  .card-title {
    font-size: 6.5vw; }
  .education-card,
  .fun-facts-card {
    height: 90vw; } }


    /* cornflower blue: rgba(126,169,234,255) */